<a href="https://colab.research.google.com/github/berryboom/dap-2024/blob/main/les04/lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4.
# Анализ данных пассажиров "Титаника"

Гибель Титаника – одно из самых печально известных кораблекрушений в истории.

15 апреля 1912 года во время своего первого плавания считавшийся «непотопляемым» «Титаник» затонул после столкновения с айсбергом.
К сожалению, спасательных шлюпок для всех находившихся на борту не хватило, в результате чего погибли 1502 из 2224 пассажиров и членов экипажа.

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [ ]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Вывод первых нескольких строк DataFrame
print(df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

2. Просмотрите первые 6 строк

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Вывод первых 6 строк DataFrame
print(df.head(6))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q

3. Выведите описание данных

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Вывод описания данных
print(df.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Подсчет количества мужчин и женщин
gender_counts = df['Sex'].value_counts()
print(gender_counts)

Sex
male      577
female    314
Name: count, dtype: int64

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Распределение переменной Pclass
pclass_distribution = df['Pclass'].value_counts()
print("Распределение Pclass:")
print(pclass_distribution)

# Распределение Pclass для мужчин
pclass_distribution_men = df[df['Sex'] == 'male']['Pclass'].value_counts()
print("\nРаспределение Pclass для мужчин:")
print(pclass_distribution_men)

# Распределение Pclass для женщин
pclass_distribution_women = df[df['Sex'] == 'female']['Pclass'].value_counts()
print("\nРаспределение Pclass для женщин:")
print(pclass_distribution_women)

# Количество мужчин 2-го класса
men_class_2_count = pclass_distribution_men.get(2, 0)  # Получаем количество мужчин 2-го класса, если его нет - 0
print(f"\nКоличество мужчин 2-го класса: {men_class_2_count}")

Распределение Pclass:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение Pclass для мужчин:
Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение Pclass для женщин:
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Количество мужчин 2-го класса: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Вычисление медианы и среднеквадратичного отклонения для столбца Fare
fare_median = df['Fare'].median()
fare_std = df['Fare'].std()

# Округление до 2 десятичных знаков
fare_median_rounded = round(fare_median, 2)
fare_std_rounded = round(fare_std, 2)

print(f"Медиана платежей (Fare): {fare_median_rounded}")
print(f"Среднеквадратичное отклонение платежей (Fare): {fare_std_rounded}")

Медиана платежей (Fare): 14.45
Среднеквадратичное отклонение платежей (Fare): 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Создание групп по возрасту
young_group = df[df['Age'] < 30]
old_group = df[df['Age'] > 60]

# Вычисление доли выживших в каждой группе
young_survival_rate = young_group['Survived'].mean()
old_survival_rate = old_group['Survived'].mean()

print(f"Доля выживших среди людей младше 30 лет: {young_survival_rate:.2f}")
print(f"Доля выживших среди людей старше 60 лет: {old_survival_rate:.2f}")

Доля выживших среди людей младше 30 лет: 0.41
Доля выживших среди людей старше 60 лет: 0.23

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Создание групп по полу
female_group = df[df['Sex'] == 'female']
male_group = df[df['Sex'] == 'male']

# Вычисление доли выживших в каждой группе
female_survival_rate = female_group['Survived'].mean()
male_survival_rate = male_group['Survived'].mean()

print(f"Доля выживших среди женщин: {female_survival_rate:.2f}")
print(f"Доля выживших среди мужчин: {male_survival_rate:.2f}")

Доля выживших среди женщин: 0.74
Доля выживших среди мужчин: 0.19

8.  Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Фильтрация данных для мужчин
male_passengers = df[df['Sex'] == 'male']

# Извлечение имен и подсчет их частоты
most_common_name = male_passengers['Name'].str.extract(r',\s*(.+?)\s+\(')[0].value_counts().idxmax()

print(f"Самое популярное имя среди пассажиров Титаника мужского пола: {most_common_name}")

Самое популярное имя среди пассажиров Титаника мужского пола: Mr. Pastcho



9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:

    В среднем мужчины 1-го класса старше 40 лет
    В среднем женщины 1-го класса старше 40 лет
    Мужчины всех классов в среднем старше женщин того же класса
    В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Группировка данных по классу и полу, затем вычисление среднего возраста
average_age = df.groupby(['Pclass', 'Sex'])['Age'].mean().unstack()

print(average_age)

Sex        female       male
Pclass
1       34.611765  41.281386
2       28.722973  30.740707
3       21.750000  26.507589

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [ ]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('titanic.csv', index_col='PassengerId')

# Группировка данных по статусу выживания и вычисление среднего возраста
average_age_survival = df.groupby('Survived')['Age'].mean()

print(average_age_survival)

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

### Дополнительные вопросы для защиты

1. Что такое медиана? Рассчитать медиану для предложенного ряда чисел.
2. Что такое дисперсия? Рассчитать дисперсию для предложенного ряда чисел.
3. Что такое среднеквадратичное отклонение? Рассчитать среднеквадратичное отклонение для предложенного ряда чисел.
4. Что такое Series и чем он отличается от DataFrame
5. Можно ли изменить индекс в Series после создания объекта?
6. Можно ли выполнить операцию сложения над двумя объектами Series, если они имеют:
- одинаковые типы данных, одинаковые размеры и одинаковые индексы?
- одинаковые типы данных, одинаковые размеры, но разные индексы?,  
- одинаковые типы данных, разные размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и одинаковые индексы?
- разные типы данных, одинаковые размеры и разные индексы?
- разные типы данных, разные размеры и разные индексы?
7. Что такое DataFrame и чем он отличается от Series
8. Что необходимо сделать, чтобы число строк в DateFrame при его просмотре, по умолчанию составляло 8?
9. Чем отличается метод iloc от метода loс
10. Можно ли добавить в DateFrame дополнительный Series?
11. Требуются ли установка дополнительных библиотек для загрузки с помощью pandas файлов в формате CSV? Excel (.xls)? Json?